* {
	font-size: 16px;
	font-family: "JetBrainsMono Nerd Font", monospace;
}

window#waybar {
    background: rgba(26, 27, 38, 0.0);
    color: #c0caf5;
    transition: background-color .5s;
}

.modules-left {
    background: rgba(0, 0, 8, 0.5);
    margin: 5px 5px;
    padding: 0 0px;
    border-radius: 30px;
}
.modules-center {
    background: rgba(0, 0, 8, 0.5);
    margin: 5px 5px;
    padding: 0 0px;
    border-radius: 30px;
}
.modules-right {
    background: rgba(0, 0, 8, 0.5);
    margin: 5px 5px;
    padding: 0 0px;
    border-radius: 30px;
}

.modules-left {
    padding: 0 0px;
}
.modules-center {
    padding: 0 0px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#mpd {
    padding: 0 10px;
    border-radius: 30px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#network:hover,
#mpd:hover {
    background: rgba(26, 27, 38, 0.9);
}

#workspaces button {
  background: transparent;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-weight: 900;
  font-size: 13pt;
  color: #c0caf5;
  border:none;
  border-radius: 30px;
}

#workspaces button.active {
    background: #c0caf5;
    color: #1793d1;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    transition: color .5s;
}
#custom-arch:hover {
    color: #1793d1;
}
